<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>

    <div id="app">
      <!-- v-for 要循环谁就在上面加v-for属性 默认是value in 数组 / (value,index) in 数组 -->
      <ul>
        <li v-for="(fruit,index) in fruits">
          {{index+1}} {{fruit.name}}
          <ul>
            <li v-for="(color,colorIndex) in fruit.colors">{{index+1}}.{{colorIndex+1}} {{color}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
      let vm = new Vue({
        el: '#app',
        data: {
          fruits: [
            {name: '香蕉', colors: ['green', 'yellow']},
            {name: '苹果', colors: ['red', 'green', 'yellow']},
            {name: '西瓜', colors: ['pink']}
          ]
        }
      });
    </script>
  </body>
</html>