<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>

    <div id="app">
      <input id="home" type="radio" value="home" v-model="cur" checked>
      <label for="home">首页</label>
      <input id="list" type="radio" value="list" v-model="cur">
      <label for="list">列表页</label>
      <!-- 一般用作缓存，为后面的路由做准备，如果缓存了就不会再走created、mounted钩子函数 -->
      <keep-alive>
        <component :is="cur"></component>
      </keep-alive>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
      let home = {
        template: `<div>home</div>`
      };
      let list = {
        template: `<div>list</div>`
      };

      let vm = new Vue({
        el: '#app',
        data: {cur: 'home'},
        components: {home, list}
      });
    </script>
  </body>
</html>